
.Card {
    width: 30rem;
    height: 22.5rem;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    display: grid;
    grid-template-rows: 1fr 1fr;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    cursor: pointer;
}

.Card:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.5);
}

.Card img {
    height: 110%;
    position: absolute;
    top: 0;
    z-index: -1;
    transition: 0.8s cubic-bezier(0.2, 0.9, 0.2, 1);
}

.Card:hover img {
    transform: translateY(-20px);
}

.Card h3 {
    color: white;
    font-size: 3rem;
    margin: 2rem 0 0 2rem;
    width: 19rem;
}

.Card p {
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.8rem;
    align-self: end;
    margin: 0 0 2rem 2rem;
}

.Cards h2 {
    margin: 5rem 2rem;
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
    background: linear-gradient(104.74deg, #050A27 0%, #4A548C 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*
Allows to adapt to screen sizes via CSS Grid
*/
.CardGroup {
    margin:  5rem 5% 10rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
    justify-items: center;
}

@media (max-width: 1060px) {
    .CardGroup {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 720px) {
    .CardGroup {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 640px) {
    .CardGroup h2 {
        font-size: 3em;
    }
}
